{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Saved Areas</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Area Name</th>
                <th>Coordinates</th>
            </tr>
        </thead>
        <tbody>
            {% for data in form_data %}
            <tr>
                <td>{{ data.created_at }}</td>
                <td>{{ data.dynamic_fields.area_name }}</td>
                <td>
                    NE: {{ data.dynamic_fields.coordinates.ne_lat }}, {{ data.dynamic_fields.coordinates.ne_lng }}<br>
                    SW: {{ data.dynamic_fields.coordinates.sw_lat }}, {{ data.dynamic_fields.coordinates.sw_lng }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}